<div class="person_lens lens">
  <div class="icon"><img src="<%= m[ns('foaf:img')] ? m[ns('foaf:img')] : '/img/person-icon.png' %>" width="30"></div>
  <div class="main">
    <span class="name">
    <% if (m[ns('foaf:name')]) { %><%= m[ns('foaf:name')] %>
    <% } else if (m[ns('foaf:givenName')] && m[ns('foaf:familyName')]) { %> <%= m[ns('foaf:givenName')] + ' ' + m[ns('foaf:familyName')] %>
    <% } else if (m[ns('foaf:firstName')] && m[ns('foaf:lastName')]) { %> <%= m[ns('foaf:firstName')] + ' ' + m[ns('foaf:lastName')] %>
    <% } else if (m[ns('rdfs:label')]) { %> <%= m[ns('rdfs:label')] %> <% } %>
    <!--
    <% if (m[ns('foaf:mbox')]) { %></span> - <span class="email">(<a href="<%= m[ns('foaf:mbox')] %>"><%= m[ns('foaf:mbox')] %></a>)</span><% } %>
    <% if (m[ns('foaf:page')]) { %> - <a class="homepage" href="<%= m[ns('foaf:page')] %>">homepage</a> <% } %>            
    <div class="url"><%= uri %></div>
    -->
  </div>
</div>
