<!DOCTYPE html> 
<html>
	<head>
	  <link rel="stylesheet" type="text/css" href="/ui/css/browser.css">
	  <script type="text/javascript" src="/lib/jquery.min.js"></script>
          <script type="text/javascript" src="/lib/underscore-min.js"></script>
          <script type="text/javascript" src="/lib/backbone-min.js"></script>
	  <script type="text/javascript" src="/lib/jquery.rdfquery.core-1.0.js"></script>
	  <script type="text/javascript" src="/lib/json.js"></script>
	  <script type="text/javascript" src="/lib/require.js" data-main="/ui/browser/main.js"></script>
	  
	</head>
	<body>
	  <div id="main">
	    <div class="collections"></div>
	  </div>	  
	  <div id="title">webbox</div>
	  <div id="count"></div>
	  <div id="recent"></div>
	  
	  <!-- editor related -->
	  <script type="text/template" id="editor_template">
	    <div class="rows"></div>
	    <button class="add_row">new row</button>
	    <button class="save">save</button>
	  </script>
	  <script type="text/template" id="editor_row_template">
	    <div class="editor_row">
	      <input type="text" class="key"><%= key %></input>
	      <input type="text" class="val"><%= val %></input>
	      <button class="del_row">-</button>
	    </div>
	  </script>	  
	</body>
</html>
