.annotation textarea:focus, .annotation input:focus{
  outline:none !important;
}
.focused {
   background:rgba(255,255,255,0.9);
   border:1px solid blue !important;
}
.annotation {
   margin:0px;
   padding:14px 0px 2px 0px;    
   background:rgba(255,255,255,0.4);    
   z-index:10000;
   position:absolute;
   background:white;
   color:black;
   border:1px solid rgb(200,200,200);
   overflow:none;
}
.annotation * {
   background:rgba(255,255,255,0.4);        
   font-family:helvetica neue, helvetica, sans serif;    
}
.annotation .close {
  right:5px;
  top:5px;  
  position:absolute;
  font-size:9pt;
  font-weight:bold;  
}
.annotation textarea {
   margin:0px;
   padding:0px 5px 3px 5px;
   font-size:8pt;    
   border:none;
   width:99%;
   height:99%;
   resize:none;
   z-index:-100;
}

