@import url(/ui/css/common.css);
@import url(/ui/css/lenses.css);
body {
    background-color:rgb(90,110,110);
}
#title {
    position:absolute;
    font-family: 'Orbitron', sans-serif;
    color:rgba(0,150,200,0.1);
    bottom:-50px;
    right:-10px;
    font-size:180px;
    z-index:-1000;
    font-weight:10;
}
#main {
  width:100%;
  overflow:hidden;
  text-align:center;
}     
#count {
   font-size:12pt;
   position:absolute;
   top:0px;
   right:0px;
   text-align:right;
}
.collection {
    background-color:rgba(255,255,255,0.9);
    position:relative;
    text-align:left;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 30px;
    padding: 20px 10px;
}
.collection .collection_name {
    font-size: 18pt;
    font-weight: bold;
    position: absolute;
    left: 18px;
    top: 12px;
}
.itemview {
    padding: 0 8px;
    margin: 8px;
}
.collection .items {
    margin:52px 0px 0px 240px;
}
.roundabout-holder {
    width:90%;
    padding: 0;
    height: 650px;
    list-style: none;
}
 
.roundabout-moveable-item { 
    background-color: rgba(255,255,255,0.8); // #ffc;
    border: 1px solid #999;
    min-width:320px;
    height:500px;
    overflow:scroll;
    padding:35px;
}

 .roundabout-in-focus { cursor: auto; }

.editor_row *{
    font-size:8pt !important;
}
 
.editor_row .key, .editor_row .val{
    min-width:100px !important;
    width:100px;
    display:inline-block;
}
