.item {
    position:relative;
}
.item {
    border: 1px solid rgba(255,255,255,0);
    border-radius:3px;    
}
.item:hover {
    -webkit-transition:border 0.35s;
    border: 1px solid rgba(10,10,10,0.2);
}

.bookmark_lens, .page_lens {
    color:rgba(41, 120, 11, 1.0);    
    display: inline-block;
    text-overflow:ellipsis;
    vertical-align:middle;
}
.bookmark_lens .url a {
    color:rgb(41, 120, 11);
    font-weight:2000;
}
.bookmark_lens .created {
    font-size:90%;
}
.bookmark_lens .icon, .person_lens .icon {
    display:inline-block;
    width:60px;
    vertical-align:middle;    
}
.bookmark_lens .main, .person_lens .main {
    display:inline-block;
    vertical-align:middle;
    
}
.name {
    font-size:120%;
}
.email, .email a, .homepage, .homepage a {
    font-size:95%;
    font-weight:100px;
    opacity:0.8;
}
.lens {
    padding: 7px 10px;    
}
.scrap_lens {
    color:rgb(50,50,50);
    display: inline-block;
    width: 90%;
    min-height: 12px;

    margin: 3px 0px;
    text-overflow:ellipsis;
    border-radius:3px;
    vertical-align:middle;
}

.scrap_lens .contents {
    font-size:120%;
}
.scrap_lens .url, .scrap_lens .created {
    display: inline-block;
    max-width:300px;
}
.scrap_lens .url a {
    color:rgb(41, 120, 11);
    font-weight:2000;
    overflow:hidden;
}
.del_row {
    width:25px;
    height:25px;
    min-width:25px;
}
.scrap_lens .created {
    font-size:90%;
}

.scrap_lens .icon {
    display:inline-block;
    width:60px;
    vertical-align:middle;    
}
.scrap_lens .main {
    display:inline-block;
    vertical-align:middle;
    
}
.box {
    position:absolute;
    background-color:white;
    border:1px solid black;
    padding:20px 40px;
    z-index:1200;
    left:10%; top:10%;
    min-width:700px;
    overflow:auto;
}
.box .close_x {
    position:absolute;
    right:10px;
    top:10px;
}
