.bookmark_lens {
    color:rgba(41, 120, 11, 1.0);    
    display: inline-block;
    width: 90%;
    min-height: 12px;
    padding: 7px 0px;
    margin: 3px 0px;
    text-overflow:ellipsis;
    vertical-align:middle;
}
.item {
    position:relative;
}
.toolbar {
    height:100%;
}
div.toolbar .buttons {
    top:0px; bottom:0px;
    height:99%;
    position:absolute;    
    left:-20px;
    opacity:0.2;
    border:1px solid pink;
}
div.toolbar .buttons img {
    position:absolute;
    margin-top:50%;
    top:-10px;
    vertical-align:middle;
}
div.toolbar:hover > .buttons {
    transition: opacity 0.6s;
    opacity:1; 
}
.item {
    border: 1px solid white;
}
.item:hover {
    border: 1px solid rgba(10,10,10,0.2);
    transition:border 1s;
    border-radius:3px;
}
.bookmark_lens .url a {
    color:rgb(41, 120, 11);
    font-weight:2000;
}

.bookmark_lens .created {
    font-size:90%;
}

.bookmark_lens .icon {
    display:inline-block;
    width:60px;
    vertical-align:middle;    
}
.bookmark_lens .main {
    display:inline-block;
    vertical-align:middle;
    
}
.scrap_lens {
    color:rgb(50,50,50);
    display: inline-block;
    width: 90%;
    min-height: 12px;
    padding: 7px 10px;
    margin: 3px 0px;
    text-overflow:ellipsis;
    border-radius:3px;
    vertical-align:middle;
}

.scrap_lens .contents {
    font-size:120%;
}
.scrap_lens .url, .scrap_lens .created {
    display: inline-block;
    max-width:300px;
}
.scrap_lens .url a {
    color:rgb(41, 120, 11);
    font-weight:2000;
    overflow:hidden;
}

.scrap_lens .created {
    font-size:90%;
}

.scrap_lens .icon {
    display:inline-block;
    width:60px;
    vertical-align:middle;    
}
.scrap_lens .main {
    display:inline-block;
    vertical-align:middle;
    
}