@import url(/ui/css/common.css);
@import url(/ui/css/lenses.css);

:focus {
  outline-color: transparent;
  outline-style: none;
}

body {
    background-color:rgb(255,255,255); /*(190,210,210);*/
    font-size:11pt;
}
#title {
    position:absolute;
    font-family: 'Orbitron', sans-serif;
    color:rgba(0,150,200,0.1);
    bottom:-50px;
    right:-10px;
    font-size:180px;
    z-index:-1000;
    font-weight:10;
}
.notes {
    height:100%;
    width:400px;
}
#count {
   font-size:12pt;
   position:absolute;
   top:0px;
   right:0px;
   text-align:right;
}
.collection {
    /*** border: 1px solid rgba(0, 0, 0, 0.2); */    
    position:relative;
    text-align:left;
    margin: 10px 40px;
    padding: 20px 10px;
}
.collection .collection_name {
    font-size: 18pt;
    font-weight: bold;
    position: absolute;
    left: 18px;
    top: 12px;
}
.item {
    position:relative;
}    
.itemview {
    padding: 0 8px;
    margin: 8px;
}
.collection .items {
    margin:30px 0px 0px 5px;
}
.toolbar { height:100%; }

div.toolbar .buttons {
    display:none;
}
.input {
    margin-top:40px;
    width:98%;
    border-top:none;
    border-bottom:2px solid rgb(0,55,0);
    border-left:none;
    border-right:none;
    padding:5px 3px;
}
.note_lens {
    position:relative;    
    max-width:400px;
    margin:0px; padding:0px;
}
.note_lens .handle {
    position:absolute;
    left:5px;
    width:10px;
    top:3px;
}
.note_lens .close {
    position:absolute;
    right:5px; top:0px; 
}
.note_lens > .contents {
    padding: 3px 10px 3px 20px;
    margin: 3px;
    border: 1px solid rgba(0,0,0,0.2);    
}
.note_lens > .contents:focus {
    border: 1px solid rgba(0,0,0,0.9);
    -webkit-transition: border 0.7s;
}

#main_lhs {
    position:absolute;
    top:0; bottom:0px; left:0px;
    width:400px;
    height:100%;
    overflow:auto;
    border-right:1px solid rgba(0,0,0,0.1);
    padding:5px 8px;
}
#main_rhs {
    position:absolute;
    top:0; bottom:0px; right:0px;    
    height:100%;
    min-width:400px;
}
#sheet_ui .controls {
    position:absolute;
    height:50px;
    left:0px; top:0px; right:0px;    
}
#sheet_ui .sheet {
    background-color:rgb(253,253,253);
    border:1px solid rgba(50,50,50,0.2);
    position:absolute;
    height:96%;
    margin-top:50px;
    left:0px; bottom:0px; right:0px;    
}

#sheet_ui {
    position:absolute;
    left:0px; top:0px; bottom:0px; right:0px;
}
