body {
  width:300px; height:200px;
  font-size:11px;
}
.selected {
    border:1px solid red;
}
#main {
  width:100%;
  height:100%;
}
.inbox_feed {
  border:1px solid rgba(0, 0, 0, 0.2);
  background-color:rgba(0,0,0,0.05);
  width:100%;
  height:180px;
  overflow:auto;
}
h1 {
  font-size:14px;
}
.feeds {
  margin: 16px 21px 0 21px;
}
.popup_inbox_lens {
    background-color:white;    
    margin:5px 3px;
    padding:15px 15px;

}
.popup_inbox_lens .from {
    font-style:italic;
}
.popup_inbox_lens .title {
    font-weight:bold;
}
.popup_inbox_lens a {
    font-weight:normal;
}