/* settings specific css */
@font-face {
	font-family: 'District Thin';
        src: url('/ui/fonts/DistTh___.ttf');
}
body {
    font-family: 'District Thin';    
}
#main {
   min-height:500px;   
}
.title {
    color:rgba(0,150,200,0.1);
    position:absolute;
    bottom:-50px;
    right:-10px;
    font-size:180px;
    z-index:-1000;
    font-weight:10;
}
div,input {
    font-size:12pt;
}
.key,.val {
    display:inline-block;
}
.key {
    min-width:280px;
    padding:5px 0 0 0;
}
.settings {
    margin:20px 0 20px 0;
}
.setting {
    margin: 10px 0;
}
.setting * {
        vertical-align:top;

}
.undertext {
   font-size:10px;
   margin:0 0 5px 5px;
   color:rgb(200,50,80);
}
.saving {
    display:none;
}
.buttons, .status {
    min-width:100px;
    display:inline-block;
}
#error {
    color: red;
}
.red_dot {
    display:inline-block;
    /*background:red;*/
    border:1px solid red;
    width:10px;
    height:10px;
    padding:0px;margin:0px;
    border-radius:6px;
    vertical-align:middle;
}
.green_dot {
    display:inline-block;    
    border:1px solid green;
    width:10px;
    height:10px;
    border-radius:6px;
    vertical-align:middle;    
}